.navbar-selected {
    color: #333 !important;
}

.title-icon {
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
  }

.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.log-message-icon {
    display: inline-block;
    overflow: auto;
}
